<div class="container">
    <!--I don't understand why this creates an issue when being rendered but list doesn't???-->
     <div class="row">
         <div class="offset-md-3 col-md-6">
             <h1><%= title %></h1>
 
             <form class="form" method="POST">
                 <input type="hidden" name="id" value="<%= bizcontacts._id %>" >
                 <div class="form-group">
                     <label for="userNameField">Contact Name</label>
                     <input type="text" class="form-control"
                     id="userNameField"
                     placeholder="Enter the name of the contact"
                     name="name" 
                     value=""
                     required>
                 </div>
 
                 <div class="form-group">
                     <label for="numberTextField">Contact Number</label>
                     <input type="text" class="form-control"
                     id="numberTextField"
                     placeholder="Enter the contact's number"
                     name="number" 
                     value="<%= bizcontacts.contactNumber %>"
                     required>
                 </div>
 
                 <div class="form-group">
                     <label for="emailTextField">Email</label>
                     <input type="text" class="form-control"
                     id="emailTextField"
                     placeholder="Enter the contacts email"
                     name="email" 
                     value="<%= bizcontacts.emailAddress %>"
                     required>
                 </div>
              
                <button class="btn btn-primary" type="submit">
                     <i class="fas fa-edit"></i> Submit</button>
                 
                     <a href="/bizcontacts-list" class="btn btn-warning">
                         <i class="fas fa-undo"></i> Cancel</a>
                     <a href="/bizcontacts-delete/<%= bizcontacts._id %>" class="btn btn-danger">
                         <i class="fas fa-trash-alt"></i> Delete</a>
                     
                     </form>
         </div>
 
     </div>
 </div>